In [57]:
import pandas as pd
data = pd.read_csv('../../data/robustness_check/raw_data/dataset_main_research.csv')
new_dataset = pd.read_csv('../../data/robustness_check/raw_data/dataset_new_pandem_indexes.csv')
covid_data = pd.read_csv('../../data/robustness_check/raw_data/owid-covid-data.csv')

In [58]:
data.head()

,country_name,country_text_id,continent,sub_region,region_pol,region_geo,income_group,pandem,pandem_dis,panback,...,density,gdp_pc,inflation,military,oil,mineral,trade_gdp,ethnic_frac,ling_frac,relig_frac
0,Afghanistan,AFG,Asia,Southern Asia,8,14,Low income,0.058824,0.05,0.000000,...,56.937760,502.115487,2.302373,0.984561,0.001255,0.007421,45.621177,0.7693,0.6141,0.2717
1,Albania,ALB,Europe,Southern Europe,1,3,Upper middle income,0.176471,0.15,0.173110,...,104.612263,5352.857411,1.411091,1.178901,1.365752,0.146426,76.728300,0.2204,0.0400,0.4719
2,Algeria,DZA,Africa,Northern Africa,3,5,Lower middle income,0.294118,0.35,0.123340,...,17.730075,3948.343279,1.951768,5.271414,12.313697,0.046717,52.044775,0.3394,0.4427,0.0100
3,Angola,AGO,Africa,Sub-Saharan Africa,4,7,Lower middle income,0.117647,0.10,0.041671,...,24.713052,2973.591160,17.145320,1.777138,15.753913,0.000000,66.378012,0.7867,0.7870,0.6276
4,Argentina,ARG,Americas,Latin America and the Caribbean,2,18,Upper middle income,0.058824,0.05,0.054786,...,16.258510,10006.148974,53.548304,0.854561,0.735824,0.308310,32.393666,0.2550,0.0620,0.2236

In [59]:
# new_dataset.columns.to_list()

In [60]:
new_dataset.head()

,country_name,Quarter,Type1,Type2,Type3,Type4,Type5,Type6,Type7,v2x_libdem,...,merepoth,meinf,mevhar,mephar,govdis,pomviol,milinv,leglimit,melim,emlimit
0,Afghanistan,Q2,0,0,0,0,0,0,3,0.212,...,0,0,1,0,0,0,0.0,0,0.0,NaN
1,Afghanistan,Q3,0,0,0,0,0,0,3,0.212,...,0,0,0,0,0,0,0.0,0,0.0,NaN
2,Afghanistan,Q4,0,0,0,0,0,0,3,0.212,...,0,0,0,0,0,0,0.0,0,0.0,NaN
3,Afghanistan,Summary,0,0,0,0,0,0,3,0.212,...,0,0,1,0,0,0,0.0,0,0.0,NaN
4,Albania,Q2,0,0,0,2,0,0,3,0.431,...,1,0,0,0,0,0,1.0,1,0.0,0.0

In [61]:
new_dataset = new_dataset[['country_name', 'Quarter', 'pandem', 'panback']]

In [62]:
new_dataset.head()

  country_name  Quarter  pandem   panback
0  Afghanistan       Q2    0.15  0.100234
1  Afghanistan       Q3    0.15  0.100234
2  Afghanistan       Q4    0.15  0.100234
3  Afghanistan  Summary    0.15  0.100234
4      Albania       Q2    0.25  0.245239

In [63]:
new_dataset.loc[new_dataset.country_name == 'India']

    country_name  Quarter  pandem   panback
216        India       Q2    0.60  0.555610
217        India       Q3    0.45  0.416707
218        India       Q4    0.30  0.277805
219        India  Summary    0.60  0.416707

In [64]:
data[['country_name', 'pandem', 'panback', 'pandem_dis']].loc[data.country_name == 'India']

   country_name    pandem   panback  pandem_dis
53        India  0.470588  0.435772         0.4

In [65]:
new_dataset_Q2 = new_dataset.loc[new_dataset.Quarter == 'Q2'][['country_name', 'pandem', 'panback']]
new_dataset_Q3 = new_dataset.loc[new_dataset.Quarter == 'Q3'][['country_name', 'pandem', 'panback']]
new_dataset_Q4 = new_dataset.loc[new_dataset.Quarter == 'Q4'][['country_name', 'pandem', 'panback']]
new_dataset_all = new_dataset.loc[new_dataset.Quarter == 'Summary'][['country_name', 'pandem', 'panback']]

In [66]:
new_dataset_all.head()

   country_name  pandem   panback
3   Afghanistan    0.15  0.100234
7       Albania    0.25  0.179842
11      Algeria    0.30  0.111828
15       Angola    0.25  0.177100
19    Argentina    0.15  0.139703

In [67]:
data.rename(columns={"pandem": "pandem_old", "panback": "panback_old", "pandem_dis": "pandem_dis_old"}, inplace = True)

In [68]:
# data.drop(columns = {'pandem', 'panback', 'pandem_dis'}, inplace = True)

In [69]:
data.head()

,country_name,country_text_id,continent,sub_region,region_pol,region_geo,income_group,pandem_old,pandem_dis_old,panback_old,...,density,gdp_pc,inflation,military,oil,mineral,trade_gdp,ethnic_frac,ling_frac,relig_frac
0,Afghanistan,AFG,Asia,Southern Asia,8,14,Low income,0.058824,0.05,0.000000,...,56.937760,502.115487,2.302373,0.984561,0.001255,0.007421,45.621177,0.7693,0.6141,0.2717
1,Albania,ALB,Europe,Southern Europe,1,3,Upper middle income,0.176471,0.15,0.173110,...,104.612263,5352.857411,1.411091,1.178901,1.365752,0.146426,76.728300,0.2204,0.0400,0.4719
2,Algeria,DZA,Africa,Northern Africa,3,5,Lower middle income,0.294118,0.35,0.123340,...,17.730075,3948.343279,1.951768,5.271414,12.313697,0.046717,52.044775,0.3394,0.4427,0.0100
3,Angola,AGO,Africa,Sub-Saharan Africa,4,7,Lower middle income,0.117647,0.10,0.041671,...,24.713052,2973.591160,17.145320,1.777138,15.753913,0.000000,66.378012,0.7867,0.7870,0.6276
4,Argentina,ARG,Americas,Latin America and the Caribbean,2,18,Upper middle income,0.058824,0.05,0.054786,...,16.258510,10006.148974,53.548304,0.854561,0.735824,0.308310,32.393666,0.2550,0.0620,0.2236

In [70]:
data.shape

(146, 26)

In [71]:
new_dataset.shape[0]/4

144.0

In [72]:
a = data['country_name'].unique()
b = new_dataset['country_name'].unique()

In [73]:
set(a) ^ set(b)

{'Hong Kong', 'Libya', 'Syria', 'Yemen'}

# removing Libya, Syria, Yemen from data
# removing Hong Kong from new_dataset

In [74]:
indexCountry = data[data.isin({'country_name': ['Libya', 'Syria', 'Yemen']}).country_name].index
data.drop(indexCountry , inplace=True)

In [75]:
indexCountry = new_dataset[new_dataset['country_name'] == 'Hong Kong'].index 
new_dataset.drop(indexCountry , inplace=True)

In [76]:
data_Q2 = pd.merge(data, new_dataset_Q2, how='left', on=['country_name'])
data_Q3 = pd.merge(data, new_dataset_Q3, how='left', on=['country_name'])
data_Q4 = pd.merge(data, new_dataset_Q4, how='left', on=['country_name'])
data_all = pd.merge(data, new_dataset_all, how='left', on=['country_name'])

In [77]:
data_all.head()

,country_name,country_text_id,continent,sub_region,region_pol,region_geo,income_group,pandem_old,pandem_dis_old,panback_old,...,inflation,military,oil,mineral,trade_gdp,ethnic_frac,ling_frac,relig_frac,pandem,panback
0,Afghanistan,AFG,Asia,Southern Asia,8,14,Low income,0.058824,0.05,0.000000,...,2.302373,0.984561,0.001255,0.007421,45.621177,0.7693,0.6141,0.2717,0.15,0.100234
1,Albania,ALB,Europe,Southern Europe,1,3,Upper middle income,0.176471,0.15,0.173110,...,1.411091,1.178901,1.365752,0.146426,76.728300,0.2204,0.0400,0.4719,0.25,0.179842
2,Algeria,DZA,Africa,Northern Africa,3,5,Lower middle income,0.294118,0.35,0.123340,...,1.951768,5.271414,12.313697,0.046717,52.044775,0.3394,0.4427,0.0100,0.30,0.111828
3,Angola,AGO,Africa,Sub-Saharan Africa,4,7,Lower middle income,0.117647,0.10,0.041671,...,17.145320,1.777138,15.753913,0.000000,66.378012,0.7867,0.7870,0.6276,0.25,0.177100
4,Argentina,ARG,Americas,Latin America and the Caribbean,2,18,Upper middle income,0.058824,0.05,0.054786,...,53.548304,0.854561,0.735824,0.308310,32.393666,0.2550,0.0620,0.2236,0.15,0.139703

## covid data

In [78]:
covid_data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
5,AFG,Asia,Afghanistan,2020-02-29,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
6,AFG,Asia,Afghanistan,2020-03-01,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
7,AFG,Asia,Afghanistan,2020-03-02,1.0,0.0,0.000,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
8,AFG,Asia,Afghanistan,2020-03-03,2.0,1.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
9,AFG,Asia,Afghanistan,2020-03-04,4.0,2.0,0.429,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [79]:
covid_data['date'] = pd.to_datetime(covid_data['date'])

In [80]:
covid_data.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
5,AFG,Asia,Afghanistan,2020-02-29,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
6,AFG,Asia,Afghanistan,2020-03-01,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
7,AFG,Asia,Afghanistan,2020-03-02,1.0,0.0,0.000,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
8,AFG,Asia,Afghanistan,2020-03-03,2.0,1.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
9,AFG,Asia,Afghanistan,2020-03-04,4.0,2.0,0.429,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [81]:
covid_data['date'].dtypes

dtype('<M8[ns]')

In [82]:
covid_data = covid_data[['iso_code', 'continent', 'location', 'date', 'total_cases', 'population']]

In [83]:
covid_data = covid_data[(covid_data.date >= '2020-02-28') & (covid_data.date <= '2020-12-31')]

In [84]:
# covid_data[covid_data.date == '2020-02-28']

In [85]:
covid_data['total_cases'] = covid_data['total_cases'].fillna(0)

In [86]:
covid_data.loc[covid_data.location == 'Andorra']

     iso_code continent location       date  total_cases  population
1701      AND    Europe  Andorra 2020-03-02          1.0     77265.0
1702      AND    Europe  Andorra 2020-03-03          1.0     77265.0
1703      AND    Europe  Andorra 2020-03-04          1.0     77265.0
1704      AND    Europe  Andorra 2020-03-05          1.0     77265.0
1705      AND    Europe  Andorra 2020-03-06          1.0     77265.0
1706      AND    Europe  Andorra 2020-03-07          1.0     77265.0
1707      AND    Europe  Andorra 2020-03-08          1.0     77265.0
1708      AND    Europe  Andorra 2020-03-09          1.0     77265.0
1709      AND    Europe  Andorra 2020-03-10          1.0     77265.0
1710      AND    Europe  Andorra 2020-03-11          1.0     77265.0
1711      AND    Europe  Andorra 2020-03-12          1.0     77265.0
1712      AND    Europe  Andorra 2020-03-13          1.0     77265.0
1713      AND    Europe  Andorra 2020-03-14          1.0     77265.0
1714      AND    Europe  Andorra 2020-03-15          1.0     77265.0
1715      AND    Europe  Andorra 2020-03-16          2.0     77265.0
1716      AND    Europe  Andorra 2020-03-17         39.0     77265.0
1717      AND    Europe  Andorra 2020-03-18         39.0     77265.0
1718      AND    Europe  Andorra 2020-03-19         53.0     77265.0
1719      AND    Europe  Andorra 2020-03-20         75.0     77265.0
1720      AND    Europe  Andorra 2020-03-21         88.0     77265.0
1721      AND    Europe  Andorra 2020-03-22        113.0     77265.0
1722      AND    Europe  Andorra 2020-03-23        133.0     77265.0
1723      AND    Europe  Andorra 2020-03-24        164.0     77265.0
1724      AND    Europe  Andorra 2020-03-25        188.0     77265.0
1725      AND    Europe  Andorra 2020-03-26        224.0     77265.0
1726      AND    Europe  Andorra 2020-03-27        267.0     77265.0
1727      AND    Europe  Andorra 2020-03-28        308.0     77265.0
1728      AND    Europe  Andorra 2020-03-29        334.0     77265.0
1729      AND    Europe  Andorra 2020-03-30        370.0     77265.0
1730      AND    Europe  Andorra 2020-03-31        376.0     77265.0
...       ...       ...      ...        ...          ...         ...
1976      AND    Europe  Andorra 2020-12-02       6842.0     77265.0
1977      AND    Europe  Andorra 2020-12-03       6904.0     77265.0
1978      AND    Europe  Andorra 2020-12-04       6955.0     77265.0
1979      AND    Europe  Andorra 2020-12-05       7005.0     77265.0
1980      AND    Europe  Andorra 2020-12-06       7050.0     77265.0
1981      AND    Europe  Andorra 2020-12-07       7084.0     77265.0
1982      AND    Europe  Andorra 2020-12-08       7127.0     77265.0
1983      AND    Europe  Andorra 2020-12-09       7162.0     77265.0
1984      AND    Europe  Andorra 2020-12-10       7190.0     77265.0
1985      AND    Europe  Andorra 2020-12-11       7236.0     77265.0
1986      AND    Europe  Andorra 2020-12-12       7288.0     77265.0
1987      AND    Europe  Andorra 2020-12-13       7338.0     77265.0
1988      AND    Europe  Andorra 2020-12-14       7382.0     77265.0
1989      AND    Europe  Andorra 2020-12-15       7382.0     77265.0
1990      AND    Europe  Andorra 2020-12-16       7446.0     77265.0
1991      AND    Europe  Andorra 2020-12-17       7466.0     77265.0
1992      AND    Europe  Andorra 2020-12-18       7519.0     77265.0
1993      AND    Europe  Andorra 2020-12-19       7560.0     77265.0
1994      AND    Europe  Andorra 2020-12-20       7577.0     77265.0
1995      AND    Europe  Andorra 2020-12-21       7602.0     77265.0
1996      AND    Europe  Andorra 2020-12-22       7633.0     77265.0
1997      AND    Europe  Andorra 2020-12-23       7669.0     77265.0
1998      AND    Europe  Andorra 2020-12-24       7699.0     77265.0
1999      AND    Europe  Andorra 2020-12-25       7756.0     77265.0
2000      AND    Europe  Andorra 2020-12-26       7806.0     77265.0
2001      AND    Europe  Andorra 2020-12-27       7821.0     77265.0
2002      AND    Europe  Andorra 2020-12-28       7875.0     77265.0
2003      AND    Europe  Andorra 2020-12-29       7919.0     77265.0
2004      AND    Europe  Andorra 2020-12-30       7983.0     77265.0
2005      AND    Europe  Andorra 2020-12-31       8049.0     77265.0

[305 rows x 6 columns]

In [87]:
covid_data = covid_data[covid_data.date.isin(['2020-02-28', '2020-06-30', '2020-09-30', '2020-12-31'])]

In [88]:
# covid_data[covid_data.date == '2020-02-28']

In [89]:
covid_data_Q2 = covid_data[covid_data.date.isin(['2020-02-28', '2020-06-30'])]
covid_data_Q2['covid_cases'] = covid_data_Q2.groupby(by=["location"])['total_cases'].diff()
covid_data_Q2 = covid_data_Q2[covid_data_Q2.date.isin(['2020-06-30'])]
covid_data_Q2['cases_ratio'] = covid_data_Q2['covid_cases'] / covid_data_Q2['population']*100000
covid_data_Q2.loc[covid_data_Q2['cases_ratio'].isna() == True, ['cases_ratio']] = covid_data_Q2['total_cases']/covid_data_Q2['population']
covid_data_Q2 = covid_data_Q2[['iso_code', 'location', 'cases_ratio']]

covid_data_Q3 = covid_data[covid_data.date.isin(['2020-06-30', '2020-09-30'])]
covid_data_Q3['covid_cases'] = covid_data_Q3.groupby(by=["location"])['total_cases'].diff()
covid_data_Q3 = covid_data_Q3[covid_data_Q3.date.isin(['2020-09-30'])]
covid_data_Q3['cases_ratio'] = covid_data_Q3['covid_cases'] / covid_data_Q3['population']*100000
covid_data_Q3.loc[covid_data_Q3['cases_ratio'].isna() == True, ['cases_ratio']] = covid_data_Q3['total_cases']/covid_data_Q3['population']
covid_data_Q3 = covid_data_Q3[['iso_code', 'location', 'cases_ratio']]

covid_data_Q4 = covid_data[covid_data.date.isin(['2020-09-30', '2020-12-31'])]
covid_data_Q4['covid_cases'] = covid_data_Q4.groupby(by=["location"])['total_cases'].diff()
covid_data_Q4 = covid_data_Q4[covid_data_Q4.date.isin(['2020-12-31'])]
covid_data_Q4['cases_ratio'] = covid_data_Q4['covid_cases'] / covid_data_Q4['population']*100000
covid_data_Q4.loc[covid_data_Q4['cases_ratio'].isna() == True, ['cases_ratio']] = covid_data_Q4['total_cases']/covid_data_Q4['population']
covid_data_Q4 = covid_data_Q4[['iso_code', 'location', 'cases_ratio']]

covid_data_all = covid_data[covid_data.date.isin(['2020-02-28', '2020-12-31'])]
covid_data_all['covid_cases'] = covid_data_all.groupby(by=["location"])['total_cases'].diff()
covid_data_all = covid_data_all[covid_data_all.date.isin(['2020-12-31'])]
covid_data_all['cases_ratio'] = covid_data_all['covid_cases'] / covid_data_all['population']*100000
covid_data_all.loc[covid_data_all['cases_ratio'].isna() == True, ['cases_ratio']] = covid_data_all['total_cases']/covid_data_all['population']
covid_data_all = covid_data_all[['iso_code', 'location', 'cases_ratio']]

c:\users\michal_schudnij\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\michal_schudnij\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
c:\users\michal_schudnij\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
c:\users\michal_schudnij\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [90]:
covid_data_Q2.head()

      iso_code     location  cases_ratio
127        AFG  Afghanistan    80.933323
561   OWID_AFR       Africa    30.202788
983        ALB      Albania    88.088123
1405       DZA      Algeria    31.711902
1821       AND      Andorra     0.011066

In [91]:
data_Q2.head()

,country_name,country_text_id,continent,sub_region,region_pol,region_geo,income_group,pandem_old,pandem_dis_old,panback_old,...,inflation,military,oil,mineral,trade_gdp,ethnic_frac,ling_frac,relig_frac,pandem,panback
0,Afghanistan,AFG,Asia,Southern Asia,8,14,Low income,0.058824,0.05,0.000000,...,2.302373,0.984561,0.001255,0.007421,45.621177,0.7693,0.6141,0.2717,0.15,0.100234
1,Albania,ALB,Europe,Southern Europe,1,3,Upper middle income,0.176471,0.15,0.173110,...,1.411091,1.178901,1.365752,0.146426,76.728300,0.2204,0.0400,0.4719,0.25,0.245239
2,Algeria,DZA,Africa,Northern Africa,3,5,Lower middle income,0.294118,0.35,0.123340,...,1.951768,5.271414,12.313697,0.046717,52.044775,0.3394,0.4427,0.0100,0.30,0.125807
3,Angola,AGO,Africa,Sub-Saharan Africa,4,7,Lower middle income,0.117647,0.10,0.041671,...,17.145320,1.777138,15.753913,0.000000,66.378012,0.7867,0.7870,0.6276,0.25,0.177100
4,Argentina,ARG,Americas,Latin America and the Caribbean,2,18,Upper middle income,0.058824,0.05,0.054786,...,53.548304,0.854561,0.735824,0.308310,32.393666,0.2550,0.0620,0.2236,0.15,0.139703

## Final merging

In [92]:
data_Q2 = pd.merge(data_Q2, covid_data_Q2, how='left', left_on = 'country_text_id', right_on = 'iso_code')
data_Q3 = pd.merge(data_Q3, covid_data_Q3, how='left', left_on = 'country_text_id', right_on = 'iso_code')
data_Q4 = pd.merge(data_Q4, covid_data_Q4, how='left', left_on = 'country_text_id', right_on = 'iso_code')
data_all = pd.merge(data_all, covid_data_all, how='left', left_on = 'country_text_id', right_on = 'iso_code')

In [93]:
data_Q2.loc[data_Q2['cases_ratio'].isna() == True]

,country_name,country_text_id,continent,sub_region,region_pol,region_geo,income_group,pandem_old,pandem_dis_old,panback_old,...,mineral,trade_gdp,ethnic_frac,ling_frac,relig_frac,pandem,panback,iso_code,location,cases_ratio
90,North Korea,PRK,Asia,Eastern Asia,6,12,Low income,0.176471,0.15,0.0,...,0.0,72.938793,0.0000,0.0000,0.6604,0.15,0.008282,NaN,NaN,NaN
131,Turkmenistan,TKM,Asia,Central Asia,1,11,Upper middle income,0.176471,0.30,0.0,...,0.0,35.163391,0.3918,0.3984,0.2327,0.30,0.060229,NaN,NaN,NaN

- Turkmenistan 0 confirmed cases according to WHO https://covid19.who.int/region/euro/country/tm
- North Korea 0 confirmed cases according to WHO https://covid19.who.int/region/searo/country/kp

- imputation - mean value of Asian countries

In [94]:
data_Q2.groupby('continent')['cases_ratio'].mean()['Asia']

111.09548475005364

In [95]:
data_Q2.loc[data_Q2.country_name == 'North Korea', 'cases_ratio'] = data_Q2.groupby('continent')['cases_ratio'].mean()['Asia']
data_Q2.loc[data_Q2.country_name == 'Turkmenistan', 'cases_ratio'] = data_Q2.groupby('continent')['cases_ratio'].mean()['Asia']
data_Q2.drop(columns = {'iso_code', 'location'}, inplace = True)

data_Q3.loc[data_Q3.country_name == 'North Korea', 'cases_ratio'] = data_Q3.groupby('continent')['cases_ratio'].mean()['Asia']
data_Q3.loc[data_Q3.country_name == 'Turkmenistan', 'cases_ratio'] = data_Q3.groupby('continent')['cases_ratio'].mean()['Asia']
data_Q3.drop(columns = {'iso_code', 'location'}, inplace = True)

data_Q4.loc[data_Q4.country_name == 'North Korea', 'cases_ratio'] = data_Q4.groupby('continent')['cases_ratio'].mean()['Asia']
data_Q4.loc[data_Q4.country_name == 'Turkmenistan', 'cases_ratio'] = data_Q4.groupby('continent')['cases_ratio'].mean()['Asia']
data_Q4.drop(columns = {'iso_code', 'location'}, inplace = True)

data_all.loc[data_all.country_name == 'North Korea', 'cases_ratio'] = data_all.groupby('continent')['cases_ratio'].mean()['Asia']
data_all.loc[data_all.country_name == 'Turkmenistan', 'cases_ratio'] = data_all.groupby('continent')['cases_ratio'].mean()['Asia']
data_all.drop(columns = {'iso_code', 'location'}, inplace = True)

In [96]:
data_Q2.loc[data_Q2['country_name'] == 'North Korea']['cases_ratio']

90    111.095485
Name: cases_ratio, dtype: float64

In [97]:
data_Q2.head()

,country_name,country_text_id,continent,sub_region,region_pol,region_geo,income_group,pandem_old,pandem_dis_old,panback_old,...,military,oil,mineral,trade_gdp,ethnic_frac,ling_frac,relig_frac,pandem,panback,cases_ratio
0,Afghanistan,AFG,Asia,Southern Asia,8,14,Low income,0.058824,0.05,0.000000,...,0.984561,0.001255,0.007421,45.621177,0.7693,0.6141,0.2717,0.15,0.100234,80.933323
1,Albania,ALB,Europe,Southern Europe,1,3,Upper middle income,0.176471,0.15,0.173110,...,1.178901,1.365752,0.146426,76.728300,0.2204,0.0400,0.4719,0.25,0.245239,88.088123
2,Algeria,DZA,Africa,Northern Africa,3,5,Lower middle income,0.294118,0.35,0.123340,...,5.271414,12.313697,0.046717,52.044775,0.3394,0.4427,0.0100,0.30,0.125807,31.711902
3,Angola,AGO,Africa,Sub-Saharan Africa,4,7,Lower middle income,0.117647,0.10,0.041671,...,1.777138,15.753913,0.000000,66.378012,0.7867,0.7870,0.6276,0.25,0.177100,0.000009
4,Argentina,ARG,Americas,Latin America and the Caribbean,2,18,Upper middle income,0.058824,0.05,0.054786,...,0.854561,0.735824,0.308310,32.393666,0.2550,0.0620,0.2236,0.15,0.139703,142.778826

In [98]:
check_indexes_pandem = data_Q2[['country_name', 'pandem_old', 'pandem_dis_old', 'pandem']]

In [99]:
check_indexes_pandem.head()

  country_name  pandem_old  pandem_dis_old  pandem
0  Afghanistan    0.058824            0.05    0.15
1      Albania    0.176471            0.15    0.25
2      Algeria    0.294118            0.35    0.30
3       Angola    0.117647            0.10    0.25
4    Argentina    0.058824            0.05    0.15

In [100]:
check_indexes_pandem['pandem_comparison'] = check_indexes_pandem['pandem'] - check_indexes_pandem['pandem_old']
check_indexes_pandem['pandem_dis_comparison'] = check_indexes_pandem['pandem'] - check_indexes_pandem['pandem_dis_old']

c:\users\michal_schudnij\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\users\michal_schudnij\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [101]:
check_indexes_pandem.head()

,country_name,pandem_old,pandem_dis_old,pandem,pandem_comparison,pandem_dis_comparison
0,Afghanistan,0.058824,0.05,0.15,0.091176,0.10
1,Albania,0.176471,0.15,0.25,0.073529,0.10
2,Algeria,0.294118,0.35,0.30,0.005882,-0.05
3,Angola,0.117647,0.10,0.25,0.132353,0.15
4,Argentina,0.058824,0.05,0.15,0.091176,0.10

In [102]:
check_indexes_pandem.sort_values(by = 'pandem_comparison')

,country_name,pandem_old,pandem_dis_old,pandem,pandem_comparison,pandem_dis_comparison
39,Eritrea,0.529412,0.45,0.30,-0.229412,-0.15
93,Oman,0.529412,0.50,0.35,-0.179412,-0.15
13,Bolivia,0.176471,0.15,0.00,-0.176471,-0.15
40,Ethiopia,0.352941,0.30,0.20,-0.152941,-0.10
21,Cambodia,0.294118,0.25,0.15,-0.144118,-0.10
60,Ivory Coast,0.294118,0.25,0.15,-0.144118,-0.10
141,Zambia,0.411765,0.35,0.30,-0.111765,-0.05
66,Kuwait,0.294118,0.25,0.20,-0.094118,-0.05
54,Indonesia,0.294118,0.25,0.20,-0.094118,-0.05
99,Philippines,0.470588,0.40,0.40,-0.070588,0.00
15,Botswana,0.058824,0.05,0.00,-0.058824,-0.05
123,Taiwan,0.058824,0.05,0.00,-0.058824,-0.05
27,China,0.352941,0.30,0.30,-0.052941,0.00
52,Hungary,0.352941,0.30,0.30,-0.052941,0.00
100,Poland,0.294118,0.25,0.25,-0.044118,0.00
76,Mali,0.294118,0.25,0.25,-0.044118,0.00
63,Jordan,0.294118,0.25,0.25,-0.044118,0.00
94,Pakistan,0.294118,0.25,0.25,-0.044118,0.00
110,Sierra Leone,0.294118,0.25,0.25,-0.044118,0.00
126,Thailand,0.294118,0.25,0.25,-0.044118,0.00
17,Bulgaria,0.235294,0.20,0.20,-0.035294,0.00
140,Vietnam,0.176471,0.15,0.15,-0.026471,0.00
79,Moldova,0.176471,0.15,0.15,-0.026471,0.00
133,Ukraine,0.176471,0.15,0.15,-0.026471,0.00
5,Armenia,0.176471,0.15,0.15,-0.026471,0.00
117,South Sudan,0.176471,0.15,0.15,-0.026471,0.00
134,United Arab Emirates,0.176471,0.15,0.15,-0.026471,0.00
90,North Korea,0.176471,0.15,0.15,-0.026471,0.00
56,Iraq,0.176471,0.15,0.15,-0.026471,0.00
18,Burkina Faso,0.117647,0.10,0.10,-0.017647,0.00
...,...,...,...,...,...,...
124,Tajikistan,0.176471,0.20,0.30,0.123529,0.10
87,Nicaragua,0.176471,0.30,0.30,0.123529,0.00
73,Madagascar,0.176471,0.25,0.30,0.123529,0.05
112,Slovakia,0.176471,0.15,0.30,0.123529,0.15
64,Kazakhstan,0.176471,0.15,0.30,0.123529,0.15
132,Uganda,0.470588,0.40,0.60,0.129412,0.20
53,India,0.470588,0.40,0.60,0.129412,0.20
3,Angola,0.117647,0.10,0.25,0.132353,0.15
47,Greece,0.117647,0.10,0.25,0.132353,0.15
96,Papua New Guinea,0.117647,0.10,0.25,0.132353,0.15
69,Lebanon,0.117647,0.10,0.25,0.132353,0.15
97,Paraguay,0.117647,0.10,0.25,0.132353,0.15
24,Central African Republic,0.058824,0.05,0.20,0.141176,0.15
43,Gabon,0.058824,0.05,0.20,0.141176,0.15
118,Spain,0.058824,0.05,0.20,0.141176,0.15
130,Turkey,0.294118,0.25,0.45,0.155882,0.20
120,Sudan,0.176471,0.15,0.35,0.173529,0.20
10,Belarus,0.176471,0.25,0.35,0.173529,0.10
111,Singapore,0.117647,0.10,0.30,0.182353,0.20
109,Serbia,0.411765,0.45,0.60,0.188235,0.15
49,Guinea,0.058824,0.05,0.25,0.191176,0.20
82,Mozambique,0.058824,0.05,0.25,0.191176,0.20
127,The Gambia,0.000000,0.10,0.20,0.200000,0.10
12,Benin,0.000000,0.00,0.20,0.200000,0.20
67,Kyrgyzstan,0.176471,0.15,0.40,0.223529,0.25
119,Sri Lanka,0.470588,0.45,0.70,0.229412,0.25
77,Mauritania,0.117647,0.10,0.35,0.232353,0.25
91,North Macedonia,0.058824,0.05,0.30,0.241176,0.25
30,Croatia,0.058824,0.05,0.30,0.241176,0.25
139,Venezuela,0.294118,0.25,0.65,0.355882,0.40

In [103]:
check_indexes_pandem['pandem_comparison'].abs().sum()/143

0.07739613327848621

In [104]:
check_indexes_pandem['pandem_dis_comparison'].abs().sum()/143

0.07657342657342657

In [105]:
check_indexes_panback = data_Q2[['country_name', 'panback_old', 'panback']]

In [106]:
check_indexes_panback.head()

  country_name  panback_old   panback
0  Afghanistan     0.000000  0.100234
1      Albania     0.173110  0.245239
2      Algeria     0.123340  0.125807
3       Angola     0.041671  0.177100
4    Argentina     0.054786  0.139703

In [107]:
check_indexes_panback['panback_comparison'] = check_indexes_panback['panback'] - check_indexes_panback['panback_old']

c:\users\michal_schudnij\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [108]:
check_indexes_panback.head()

  country_name  panback_old   panback  panback_comparison
0  Afghanistan     0.000000  0.100234            0.100234
1      Albania     0.173110  0.245239            0.072129
2      Algeria     0.123340  0.125807            0.002467
3       Angola     0.041671  0.177100            0.135429
4    Argentina     0.054786  0.139703            0.084918

In [109]:
check_indexes_panback.sort_values(by = 'panback_comparison')

                 country_name  panback_old   panback  panback_comparison
13                    Bolivia     0.149904  0.000000           -0.149904
60                Ivory Coast     0.275735  0.140625           -0.135110
54                  Indonesia     0.294075  0.199971           -0.094104
40                   Ethiopia     0.204740  0.116019           -0.088721
93                       Oman     0.259520  0.171571           -0.087948
66                     Kuwait     0.244676  0.166380           -0.078296
15                   Botswana     0.058235  0.000000           -0.058235
99                Philippines     0.384384  0.326726           -0.057658
52                    Hungary     0.339383  0.288475           -0.050907
123                    Taiwan     0.049692  0.000000           -0.049692
21                   Cambodia     0.094419  0.048154           -0.046265
100                    Poland     0.294118  0.250000           -0.044118
110              Sierra Leone     0.281147  0.238975           -0.042172
76                       Mali     0.251199  0.213519           -0.037680
17                   Bulgaria     0.235159  0.199885           -0.035274
63                     Jordan     0.222922  0.189484           -0.033438
79                    Moldova     0.174335  0.148185           -0.026150
5                     Armenia     0.162437  0.138071           -0.024366
126                  Thailand     0.151642  0.128896           -0.022746
133                   Ukraine     0.145931  0.124042           -0.021890
56                       Iraq     0.128753  0.109440           -0.019313
74                     Malawi     0.114929  0.097690           -0.017239
61                    Jamaica     0.100659  0.085560           -0.015099
18               Burkina Faso     0.093398  0.079388           -0.014010
137                   Uruguay     0.080753  0.068640           -0.012113
27                      China     0.067059  0.057000           -0.010059
39                    Eritrea     0.016738  0.014227           -0.002511
50                      Haiti     0.256770  0.254631           -0.002140
37                      Egypt     0.155469  0.154174           -0.001296
101                  Portugal     0.000000  0.000000            0.000000
..                        ...          ...       ...                 ...
118                     Spain     0.035476  0.120620            0.085144
132                    Uganda     0.325112  0.414518            0.089406
75                   Malaysia     0.259313  0.352666            0.093353
47                     Greece     0.085344  0.181356            0.096012
44                    Georgia     0.000000  0.099994            0.099994
0                 Afghanistan     0.000000  0.100234            0.100234
112                  Slovakia     0.143231  0.243493            0.100262
129                   Tunisia     0.212682  0.316365            0.103683
84                      Nepal     0.292593  0.397926            0.105333
49                     Guinea     0.032575  0.138444            0.105869
73                 Madagascar     0.151787  0.258037            0.106251
125                  Tanzania     0.158849  0.270043            0.111194
139                 Venezuela     0.092475  0.204370            0.111895
53                      India     0.435772  0.555610            0.119837
96           Papua New Guinea     0.110057  0.233871            0.123814
77                 Mauritania     0.063567  0.189111            0.125544
43                      Gabon     0.000000  0.128000            0.128000
97                   Paraguay     0.115139  0.244671            0.129532
24   Central African Republic     0.000000  0.134105            0.134105
3                      Angola     0.041671  0.177100            0.135429
109                    Serbia     0.312091  0.454762            0.142670
69                    Lebanon     0.048447  0.205900            0.157453
67                 Kyrgyzstan     0.152312  0.345240            0.192928
82                 Mozambique     0.000000  0.196639            0.196639
127                The Gambia     0.000000  0.198655            0.198655
12                      Benin     0.000000  0.198783            0.198783
119                 Sri Lanka     0.468779  0.697309            0.228530
91            North Macedonia     0.057736  0.294451            0.236716
111                 Singapore     0.000000  0.271170            0.271170
30                    Croatia     0.000000  0.297570            0.297570

[143 rows x 4 columns]

In [110]:
check_indexes_panback['panback_comparison'].abs().sum()/143

0.05830061102426985

In [111]:
min(data_all['cases_ratio'])

5.635308146896265e-06

### SAVING DF

In [112]:
# data_Q2.to_csv('final_dataset_Q2.csv', index=False)
# data_Q3.to_csv('final_dataset_Q3.csv', index=False)
# data_Q4.to_csv('final_dataset_Q4.csv', index=False)
# data_all.to_csv('final_dataset_all.csv', index=False)

In [113]:
data_all.groupby('continent')['pandem'].mean()['Europe']

0.1696969696969697

In [117]:
data_all.groupby('continent')['pandem'].max()['Europe']

0.6

In [120]:
data_all.loc[data_all['country_name'] == 'Poland']['pandem']

100    0.25
Name: pandem, dtype: float64

In [121]:
data_all.loc[data_all['country_name'] == 'Belarus']['pandem']

10    0.35
Name: pandem, dtype: float64

In [122]:
data_all.loc[data_all['pandem'] == 0.6]

,country_name,country_text_id,continent,sub_region,region_pol,region_geo,income_group,pandem_old,pandem_dis_old,panback_old,...,military,oil,mineral,trade_gdp,ethnic_frac,ling_frac,relig_frac,pandem,panback,cases_ratio
53,India,IND,Asia,Southern Asia,8,14,Lower middle income,0.470588,0.40,0.435772,...,2.419034,0.322351,0.513987,40.018537,0.4182,0.8069,0.3260,0.6,0.416707,743.959303
107,Saudi Arabia,SAU,Asia,Western Asia,3,10,High income,0.529412,0.45,0.054212,...,8.774719,23.101158,0.083035,62.163071,0.1800,0.0950,0.1270,0.6,0.092160,0.010419
109,Serbia,SRB,Europe,Southern Europe,1,3,Upper middle income,0.411765,0.45,0.312091,...,1.906136,0.099930,0.529597,112.644127,0.5736,0.0000,0.0000,0.6,0.303174,4966.099383
132,Uganda,UGA,Africa,Sub-Saharan Africa,4,8,Low income,0.470588,0.40,0.325112,...,1.425006,0.000000,0.007399,46.018863,0.9302,0.9227,0.6332,0.6,0.403004,0.000770

In [126]:
data_all.loc[data_all['continent'] == 'Europe'].sort_values(by = 'pandem', ascending = False)

,country_name,country_text_id,continent,sub_region,region_pol,region_geo,income_group,pandem_old,pandem_dis_old,panback_old,...,military,oil,mineral,trade_gdp,ethnic_frac,ling_frac,relig_frac,pandem,panback,cases_ratio
109,Serbia,SRB,Europe,Southern Europe,1,3,Upper middle income,0.411765,0.45,0.312091,...,1.906136,0.099930,0.529597,112.644127,0.5736,0.0000,0.0000,0.60,0.303174,4966.099383
10,Belarus,BLR,Europe,Eastern Europe,1,4,Upper middle income,0.176471,0.25,0.071841,...,1.265447,0.515381,0.000000,133.345989,0.3222,0.4666,0.6116,0.35,0.142485,2056.052493
14,Bosnia and Herzegovina,BIH,Europe,Southern Europe,1,3,Upper middle income,0.294118,0.25,0.265853,...,1.111913,0.000000,0.546167,95.880618,0.6300,0.6751,0.6851,0.35,0.225975,0.033828
105,Russia,RUS,Europe,Eastern Europe,1,4,Upper middle income,0.235294,0.25,0.083952,...,3.929511,6.431887,0.984013,49.074070,0.2452,0.2485,0.4398,0.35,0.112985,2142.979115
47,Greece,GRC,Europe,Southern Europe,5,3,High income,0.117647,0.10,0.085344,...,2.385282,0.013071,0.063798,74.384467,0.1576,0.0000,0.1530,0.35,0.205537,1332.104519
30,Croatia,HRV,Europe,Southern Europe,1,3,High income,0.058824,0.05,0.000000,...,1.465054,0.233169,0.000270,102.849773,0.3690,0.0760,0.4447,0.30,0.231443,5135.645225
112,Slovakia,SVK,Europe,Eastern Europe,1,4,High income,0.176471,0.15,0.143231,...,1.205238,0.027194,0.015491,185.249946,0.2539,0.2551,0.5655,0.30,0.135274,0.032885
52,Hungary,HUN,Europe,Eastern Europe,1,4,High income,0.352941,0.30,0.339383,...,1.082077,0.096899,0.000057,162.980542,0.1522,0.0300,0.5244,0.30,0.224370,0.033385
91,North Macedonia,MKD,Europe,Southern Europe,1,3,Upper middle income,0.058824,0.05,0.057736,...,0.952174,0.000000,1.668766,137.276591,0.5023,0.5021,0.5899,0.30,0.212659,3999.654408
1,Albania,ALB,Europe,Southern Europe,1,3,Upper middle income,0.176471,0.15,0.173110,...,1.178901,1.365752,0.146426,76.728300,0.2204,0.0400,0.4719,0.25,0.179842,2026.409062
100,Poland,POL,Europe,Eastern Europe,1,4,High income,0.294118,0.25,0.294118,...,1.977692,0.035193,0.420080,106.242468,0.1183,0.0470,0.1712,0.25,0.250000,0.034214
17,Bulgaria,BGR,Europe,Eastern Europe,1,4,Upper middle income,0.235294,0.20,0.235159,...,1.688432,0.008285,1.049389,123.723105,0.4021,0.3031,0.5965,0.20,0.099942,0.029110
118,Spain,ESP,Europe,Southern Europe,5,3,High income,0.058824,0.05,0.035476,...,1.273091,0.001723,0.068895,66.917069,0.4165,0.4132,0.4514,0.20,0.080413,4124.140625
113,Slovenia,SVN,Europe,Southern Europe,1,3,High income,0.117647,0.10,0.096096,...,0.974192,0.000095,0.000000,159.736120,0.2216,0.2201,0.2868,0.20,0.163363,5875.709258
79,Moldova,MDA,Europe,Eastern Europe,1,4,Lower middle income,0.176471,0.15,0.174335,...,0.348808,0.013662,0.000000,85.768730,0.5535,0.5533,0.5603,0.15,0.082325,0.035900
133,Ukraine,UKR,Europe,Eastern Europe,1,4,Lower middle income,0.176471,0.15,0.145931,...,3.782803,0.243848,2.152792,90.173790,0.4737,0.4741,0.6157,0.15,0.068912,0.024855
135,United Kingdom,GBR,Europe,Northern Europe,5,2,High income,0.058824,0.05,0.039035,...,1.782205,0.322696,0.000023,64.253678,0.1211,0.0530,0.6944,0.15,0.077420,3677.015663
32,Czech Republic,CZE,Europe,Eastern Europe,1,4,High income,0.058824,0.05,0.049692,...,1.123606,0.009343,0.000000,144.876466,0.3222,0.3233,0.6591,0.15,0.126715,0.067108
59,Italy,ITA,Europe,Southern Europe,5,3,High income,0.058824,0.05,0.041416,...,1.332702,0.039471,0.000000,60.139430,0.1145,0.1147,0.3027,0.10,0.023469,3483.649221
92,Norway,NOR,Europe,Northern Europe,5,2,High income,0.000000,0.00,0.000000,...,1.608669,3.750719,0.010344,72.146500,0.0590,0.0670,0.2048,0.10,0.038500,914.200104
104,Romania,ROU,Europe,Eastern Europe,1,4,High income,0.058824,0.05,0.057799,...,1.934209,0.316386,0.026663,84.559869,0.3069,0.1723,0.2373,0.10,0.032753,3286.570596
42,France,FRA,Europe,Western Europe,5,1,High income,0.058824,0.05,0.039979,...,2.293943,0.005483,0.000024,64.522729,0.1032,0.1221,0.4029,0.10,0.067964,3929.126751
121,Sweden,SWE,Europe,Northern Europe,5,2,High income,0.000000,0.00,0.000000,...,1.042914,0.000000,0.335932,90.485904,0.1000,0.1968,0.2342,0.10,0.018901,4330.689248
11,Belgium,BEL,Europe,Western Europe,5,1,High income,0.000000,0.00,0.000000,...,0.925791,0.000000,0.000000,163.293221,0.5554,0.5409,0.2127,0.10,0.039018,5578.226233
72,Lithuania,LTU,Europe,Northern Europe,1,2,High income,0.000000,0.00,0.000000,...,1.957849,0.025523,0.000000,150.580741,0.3223,0.3219,0.4141,0.10,0.078470,0.052145
7,Austria,AUT,Europe,Western Europe,5,1,High income,0.000000,0.00,0.000000,...,0.735993,0.031554,0.020663,107.724703,0.1068,0.1522,0.4146,0.00,0.000000,4006.173388
85,Netherlands,NLD,Europe,Western Europe,5,1,High income,0.000000,0.00,0.000000,...,1.241607,0.021159,0.000000,154.322327,0.1054,0.5143,0.7222,0.00,0.000000,4717.753088
57,Ireland,IRL,Europe,Northern Europe,5,2,High income,0.000000,0.00,0.000000,...,0.330585,0.000000,0.054010,239.215092,0.1206,0.0310,0.1550,0.00,0.000000,0.018587
101,Portugal,PRT,Europe,Southern Europe,5,3,High income,0.000000,0.00,0.000000,...,1.779529,0.000000,0.204056,87.641209,0.0470,0.0200,0.1438,0.00,0.000000,0.040570
45,Germany,DEU,Europe,Western Europe,5,1,High income,0.000000,0.00,0.000000,...,1.233769,0.011110,0.000000,88.098661,0.1682,0.1642,0.6571,0.00,0.000000,2101.204473
41,Finland,FIN,Europe,Northern Europe,5,2,High income,0.000000,0.00,0.000000,...,1.398520,0.000000,0.232913,79.466673,0.1315,0.1412,0.2531,0.00,0.000000,651.630348
34,Denmark,DNK,Europe,Northern Europe,5,2,High income,0.000000,0.00,0.000000,...,1.181415,0.383322,0.000000,105.001682,0.0820,0.1049,0.2333,0.00,0.000000,2833.377905
122,Switzerland,CHE,Europe,Western Europe,5,1,High income,0.000000,0.00,0.000000,...,0.675557,0.000000,0.000000,119.438496,0.5314,0.5441,0.6083,0.00,0.000000,5225.973001